/*ROLES ANIMADOS*/

.membersGroup-v9BXpm[aria-label*="Traficante de pelos lunares"] ~ .member-3-YXUe .roleColor-rz2vM0[style="color: rgb(221, 30, 121);"] {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  background-image: linear-gradient(-60deg, #D80970 10%, #8C579C 30%, #24468E 50%, #C4C4C4 70%, #FFFFFF 85%, #9AD9EB 100%);
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
}

@keyframes shine {
  to { background-position: -300% center; }
}
